@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'mplus';
  src: url("../fonts/M-1m/mplus-1m-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'mplus';
  src: url("../fonts/M-1m/mplus-1m-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'mplus';
  src: url("../fonts/M-1m/mplus-1m-regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'mplus';
  src: url("../fonts/M-1m/mplus-1m-medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'mplus';
  src: url("../fonts/M-1m/mplus-1m-bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'mplus';
  src: url("../fonts/M-1m/mplus-1m-regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'mplus';
  src: url("../fonts/M-1m/mplus-1m-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 1em;
  font-family: 'lato';
  font-weight: normal;
  font-style: normal; }
